<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Group Birthday Reminder !</title>

<link rel="stylesheet" href="vendor/bootstrap.css"/>
<script src="vendor/angular.min.js"></script>
<script src="app/app.js"></script>

</head>
<body ng-app="app" ng-controller="appController" style="margin-left: 10px">
 
<div class="row-fluid">	 

	<!--  Birthdays today -->
	<div class="col-xs-6">
		<h2>Upcoming birthdays</h2>
		<div class="well">
			<table class="table">
				<thead>
					<tr scope="row">
						<th>Group</th>
						<th>Name</th>
						<th>Birthday</th>
					</tr>
				</thead>
				<tr ng-repeat="person in peopleOfInterest" scope="row">
					<td>{{person.groupName}}</td>
					<td>{{person.name}}</td>
					<td>{{person.birthday.dayOfMonth}} {{person.birthday.month}}</td>
				</tr>
			</table>	
		</div>
	</div>
	
	<!-- List of all groups -->
	<div class="col-xs-6">
		<h2># groups : {{groups.length}}</h2>
		 <div ng-repeat="group in groups" class="well well-sm">
		 	<div>
		 		<span><b>{{group.name}}</b></span>
		 		<li ng-repeat="person in group.members">{{person.name}}</li>
		 	</div>
		 </div>
	 </div>

</div>

<div class="row-fluid">
	<!--  Register a new group -->
	 <div class="well col-xs-9">
	 	<h2>Register your friend group!</h2>
		 <form action="rest/v1/hbdr/newGroup" enctype="multipart/form-data" method="post">
		 	
		 	<div class = "form-group">
			 	<label>Group Name</label>
			 	<input type="text" name="name" class="form-control">
		 	</div>
	
			<div class="form-group">
			 	<label>Friends details</label>
			 	<input type="file" name="groupFile">
			</div>
	
		 	<input type="submit" value="Register !" class="btn btn-success">
		 </form>
	 </div>
</div>
</body>

</html>